<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title> BLOGGER | HOME </title>
</head>
<body>
    <!-- Navigation bar  -->
    <%- include('./partials/navbar.ejs') %>
    <!-- Scripts -->
    <%- include('./partials/scripts.ejs') %>
</body>
</html>